# Django
DJANGO_SECRET_KEY=doi-key-nay-truoc-khi-len-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# Thu muc dung chung voi gateway.
# De trong thi mac dinh tro toi ../shared_storage so voi ai-service.
SHARED_STORAGE_DIR=
UPLOADS_DIR=
TEMPLATES_DIR=
